.fondo{
    background-color: #76FDFF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cbd8da' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%234e9bf5' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23dce6ec' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%232d6dbf' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%238ea8c4' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23194689' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%236e99e5' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%232461d8' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%232164e5' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%234c63d1' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%236659d9' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%232d3194' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}
.parrafo{
    font-size: 20;
}

.contacto{
    font-size: small;
    size: small;
    background-color: #000000;
    display: block;
    margin-top: 5px;
}